* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.15s;
}

body {
  background: rgba(52,53,65,255);
  color: #99999f;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
}

.input-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

form {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  gap: 5px;
}

form input {
  width: 100%;
}

form input, form button {
  border: 1px solid #99999f;
  padding: 1em;
  border-radius: 10px;
  background: rgba(52,53,65,255);
  color: #99999f;
}

form button:hover {
  cursor: pointer;
  background-color: #99999f !important;
  color: rgba(52,53,65,255) !important;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

h1 span {
  color: #99999f;
}

.overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-main {
  width: 5rem;
  background-color: white;
  padding: 0.6em;
  border-radius: 50%;
}

.img-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  margin-top: 0.7em;
}

.main-body {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
}

.clear-pfp {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  padding: 0.1em;
  border-radius: 50%;
}

.pfp {
  width: 1.5rem;
  border-radius: 50%;
  height: 1.5rem;
}

.section-div {
  display: flex;
  gap: 10px;
  margin-bottom: 2em;
}

h3 {
  color: white;
}